@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #282c34;
}

::-webkit-scrollbar-thumb {
  background-color: #6200ff;
  border-radius: 1.25rem;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff;
}

form {
  width: 400px;
  min-width: 250px;
  margin-top: 2rem;
  margin-bottom: 4rem;
  /* padding: 55px 50px 30px 50px; */
  padding: 20px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  border: 1px solid rgb(96, 96, 96);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.653),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  /* background: rgba(255, 255, 255, 0.054); */
  /* backdrop-filter: saturate(10%) blur(2px); */
  background: rgba(61, 61, 61, 0.801);
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  max-width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  letter-spacing: 0.2px;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  /* border: 1px solid rgb(124, 124, 126); */
  color: rgb(243, 243, 243);
}


html {
  height: 100%
}

body {
  min-height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
  background-position: center;
  background-color: #0c0c0ce0;
  /* background-color: #000000; */
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");

}

.footer {
  margin-top: auto;
  border-top: solid rgba(200, 200, 200, 0.356) 1px;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  background-color: #6f00ff;
  min-height: 80px;
  word-spacing: 2px;
  position: relative;
}

#little {
  width: 70px;
  right: 0;
  /* border: solid rgb(226, 81, 81); */
  position: absolute;
}

#footer-txt {
  /* color: rgb(184, 184, 184); */
  color: black;
  font-weight: 500;
  font-size: 1.05rem;
  cursor: pointer;
}

.app {
  min-height: 100vh;
  max-height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: 100;
  font-size: 5rem;
  margin-top: 3rem;
  text-shadow: 1px 1px 3px rgb(0, 0, 0);
  font-family: 'Lato', sans-serif;
  cursor: pointer;
}

button {
  min-width: 15.5rem;
  padding: 0.5rem 1.1rem;
  height: 39px;
  border: none;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  outline: none;
  border-radius: 0.1rem;
  background: #6f00ff;
  letter-spacing: 1px;
  word-spacing: 3px;
  transition: 0.3s;
}

button:hover {
  opacity: 0.8;
}

.input-cont {
  display: flex;
  flex-direction: column;
  width: 70%;
}

input {
  font-family: sans-serif, Arial, Helvetica;
  border: 2px solid rgb(71, 71, 71);
  outline: 0;
  font-size: 1.0625rem;
  padding: 5px 0 5px 11px;
  min-width: 15.5rem;
  background-color: #ffffff;
  color: black;
  margin-bottom: 1.5rem;
  /* border: 3px solid rgba(99, 99, 99, 0.81); */
  border: 3px solid #6f00ff;
}

input:focus {
  padding: 5px 0 5px 11px;
  border-width: 3px;
  border-image: radial-gradient(circle at 3% 7.4%,
      #7308ff 0%,
      #6f00ff 90%);
  border-image-slice: 1;
  background-color: #ffffff;
}

.line-separator {
  border-top: solid rgb(74, 74, 74) 0.1rem;
  width: 80vw;
  max-width: 900px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card {
  width: 800px;
  min-width: 300px;
  margin-top: 2rem;
  margin-bottom: 4rem;
  padding: 15px 15px 35px 15px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  border: 1px solid rgba(200, 200, 200, 0.521);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.653),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  background: rgba(48, 48, 48, 0.856);
  /* background: rgba(255, 255, 255, 0.13); */
  /* backdrop-filter: saturate(10%) blur(7px); */
}

#title {
  margin-top: 2.5rem;
  height: 100%;
  font-size: 1.5rem;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

a {
  display: flex;
  justify-content: center;
}

#delete-btn {
  background: rgba(218, 218, 218, 0.607);
  color: black;
  border-radius: 0;
  min-width: 20px;
  width: 20px;
  height: 20px;
  margin-top: 0;
  padding-left: 5.7px;
  padding-top: .44px;
  /* margin-left: 50%; */
  margin-top: 1rem;
  box-shadow: none;
  cursor: pointer;
}

#delete-btn:hover {
  background-color: #fe5a3e;
}

button {
  margin: 10px;
}

.btn-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: .2rem;
  padding-bottom: 1rem;
  border-bottom: solid rgba(200, 200, 200, 0.356) 1px;
  min-width: 100%;
  background-color: #0000002f;
}

#error {
  color: rgb(249, 74, 74);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

p {
  font-weight: 100;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  text-shadow: .5px 1px 1px rgb(0, 0, 0);
}

#links:hover {
  color: #6f00ff;
  font-weight: 100;
}

#search-btn {
  min-width: 8rem;
  padding: 0.5rem 1.1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 39px;
  border: 2px solid white;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  outline: none;
  border-radius: .2rem;
  background: rgba(0, 146, 243, 0);
  letter-spacing: 1px;
  word-spacing: 3px;
  transition: 0.3s;
}

#search-btn:hover {
  opacity: 0.8;
}

#form-text {
  margin-bottom: 1rem;
  cursor: auto;
}


@media only screen and (max-width: 500px) {
  .card {
    padding: 5px 3px 30px 3px;
    background: rgba(48, 48, 48, 0.678);
    backdrop-filter: saturate(100%) blur(4px);
    font-size: 1.1rem;
    border: none;
    border-top: 1px solid rgba(200, 200, 200, 0.349);
    border-bottom: 1px solid rgba(200, 200, 200, 0.349);
  }

  #title {
    font-size: 1.1rem;
    font-weight: 900;
  }

  #links {
    font-size: 1.1rem;
    margin-left: .6rem;
    margin-right: .6rem;
    margin-top: 1rem;
  }

  #links:hover {
    color: #6f00ff;
  }

  form {
    max-width: 350px;
  }

}


#scroll-to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 40px;
  font-size: 5rem;
  background-color: #6f00ff;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

#scroll-to-top:hover {
  color: rgb(39, 39, 39);
  background-color: #6200ff;
}

h6 {
  font-weight: 100;
  font-size: 1.05rem;
}

#view-on-reddit {
  color: #6200ff;
  /* font-weight: 500; */
  font-size: 1rem;
  margin-top: 2rem;
  background-color: #0000001e;
  padding: 10px 20px 10px 20px;
  border-radius: 9px;
  font-weight: 600;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0);
}

#view-on-reddit:hover {
  background-color: #0000009f;
  color: #6200ff;
  font-weight: 600;
}